<div style="text-align: center;">
  <%= form_with(model: @tweet, url: tweet_path(@tweet), method: :patch, local: true) do |form| %>
    <div class="form-container"> 
      <div class="form-item">
        <%= form.label :title, "タイトル" %>
        <%= form.text_field :title %>
      </div>
      <div class="form-item">
        <%= form.label :image, "画像" %>
        <%= form.file_field :image %>
      </div>
      <div class="form-item">
        <%= form.label :introduction, "紹介文" %>
        <%= form.text_area :introduction %>
      </div>
      <%= button_to '更新', tweet_path(@tweet), method: :patch, class: "submit-button", remote: true %>
      <%= button_to '削除', tweet_path(@tweet), method: :delete, data: { turbo_method: :delete }, class: "submit-button delete-button" %>
    </div>
  <% end %>
</div>
