<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>  みんなの旅行情報アプリ</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
        <!-- ヘッダー -->
    <!-- トップページのメイン -->
        <% if user_signed_in? %>
          <div class="map">
            <%= image_tag("map.PNG", alt: "Map Image") %>
            <div class="text_hokkaido"><a href="hokkaido.html">北海道</a></div>
            <div class="text_tokyo"><a href="tokyo.html">東京</a></div>
            <div class="text_totigi"><a href="totigi.html">栃木</a></div>
            <div class="text_kyoto"><a href="kyoto.html">京都</a></div>
            <div class="text_oosaka"><a href="oosaka.html">大阪</a></div>
            <div class="text_fukuyama"><a href="fukuyama.html">福山</a></div>
            <div class="text_hirosima"><a href="hirosima.html">広島</a></div>
            <div class="text_fukuoka"><a href="fukuoka.html">福岡</a></div>
          </div>
        <% else %>
          <div class="map">
            <%= image_tag("map.PNG", alt: "Map Image") %>
            <div class="text_hokkaido"><a href="<%= new_user_session_path %>">北海道</a></div>
            <div class="text_tokyo"><a href="<%= new_user_session_path %>">東京</a></div>
            <div class="text_totigi"><a href="<%= new_user_session_path %>">栃木</a></div>
            <div class="text_kyoto"><a href="<%= new_user_session_path %>">京都</a></div>
            <div class="text_oosaka"><a href="<%= new_user_session_path %>">大阪</a></div>
            <div class="text_fukuyama"><a href="<%= new_user_session_path %>">福山</a></div>
            <div class="text_hirosima"><a href="<%= new_user_session_path %>">広島</a></div>
            <div class="text_fukuoka"><a href="<%= new_user_session_path %>">福岡</a></div>
          </div>
        <% end %>
        <!-- フッター -->
  </body>
</html>



