<!-- app/views/tweets/show.html.erb -->

<div class=show-all>
  <div class="show-title">
    <h2><%= @tweet.title %></h2>
  </div>

  <div class="show-image">
    <% if @tweet.image.attached? %>
      <%= image_tag url_for(@tweet.image), class: "post-image" %>
    <% end %>
  <div>

  <div class="show-introduction">
    <p><%= @tweet.introduction %></p>
  </div>
</div>

<%= link_to 'Edit', edit_tweet_path(@tweet) if current_user == @tweet.user %>
<%= link_to 'Destroy', @tweet, method: :delete, data: { confirm: 'Are you sure?' } if current_user == @tweet.user %>

<%= link_to 'トップページへ戻る', tweets_path %>

