<!DOCTYPE html>
<html>
  <head>
    <title>Mapappu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
        <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="/">みんなの旅行情報</a></h1>
      </div>
      <div class="navbar">
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <div class="nav-lists__list"><%= link_to "都道府県一覧", itiran_path %></div>
            <div class="nav-lists__list"><a href="/assets/要件定義シート.pdf" target="_blank">制作工程</a></div>
            <div class="nav-lists__list"><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></div>
          </div>
        <% else %>
          <div class="grid-6">
            <div class="nav-lists__list"><%= link_to "新規登録", new_user_registration_path %></div>
            <div class="nav-lists__list"><%= link_to "ログイン", new_user_session_path %></div>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <!-- フッター -->
    <footer class="footer">
      <div class="copyright"> ~ Everyone's travel information app 2024 ~ </div>
    </footer>
  </body>
</html>
