<!DOCTYPE html>
<html>
  <head>
    <title>Mapappu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
        <!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href="/">みんなの旅行情報</a></h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-lists__list"><a href="itiran.html">都道府県一覧</a></li>
          <li class="nav-lists__list"><a href="/assets/要件定義シート.pdf" target="_blank">制作工程</a></li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <!-- フッター -->
    <footer class="footer">
      <div class="copyright"> ~ Everyone's travel information app 2024 ~ </div>
    </footer>
  </body>
</html>
